.frame p {
  font-family: 'Open Sans', sans-serif;
  /* text-align: justify; */
  text-indent: 30px;
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.frame {
  width: 100%;
} 

.frame p a:hover {
  color: rgb(193, 183, 183);
}

body {
  background-color: black;
  /* background-image: url(Stephen-King-009.jpg); */
}

body::-webkit-scrollbar {
  width: 6px;           
}
body::-webkit-scrollbar-track {
  background: gray;
  opacity: 0.5;     
}
body::-webkit-scrollbar-thumb {
  background-color: white;   
  border-radius: 20px;      
 
}